
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GuiYeuCauThanhCong</title>
</head>
<body>
    <div>
        <h1>Bạn đã gửi thành công yêu cầu đăng ký lưu trú ký túc xá, vui lòng chờ xét duyệt! </h1>
    </div>
</body>
</html>
