
@{
    ViewBag.Title = "Tạo không thành công";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}
<script>document.getElementById('sidebar-hoadon').classList.add("active");</script>
<link rel="stylesheet" href="~/assets/css/Dashboard/Admin/TaoKhongThanhCong.css" />
<div class="container-fluid">
    <div class="row">
        <div class="not-suscess">
            <img src="~/assets/img/web-error.png" alt="Alternate Text" />
            <h1>Đang tồn tại hợp đồng chờ xét duyệt hoặc đã có hiệu lực</h1>
        </div>
    </div>
    
</div>
