
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}
@section sidebarLeft{
    <ul class="sidebar-left-navbar-nav">
        <li class="sidebar-left-navbar-nav-item active">
            <a href="~/Admin/TrangChu" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-grid-2"></i>
                Trang chủ
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item ">
            <a href="~/Admin/DanhSachPhong" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-user"></i>
                Danh sách phòng
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="~/Admin/DanhSachSinhVien" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-leaf"></i>
                Danh sách sinh viên
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="~/Admin/QuanLyNhanVien" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-circle-minus"></i>
                Danh sách nhân viên
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="#" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-file"></i>
                Danh sách vi phạm
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="~/Admin/DanhSachHoaDon" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-memo"></i>
                Danh sách hóa đơn
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="~/Admin/DanhSachHoaDon" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-money-bill"></i>
                Danh sách hợp đồng
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="~/Admin/DanhSachXetDuyet" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-flag"></i>
                Xét duyệt - kiểm tra
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="#" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-flag"></i>
                Thông tin quản trị
            </a>
        </li>
    </ul>
}
<link rel="stylesheet" href="~/assets/css/Dashboard/Admin/style.css">

<div class="sidebar-right-content-heading">
    <h2 class="sidebar-right-content-heading-name">Quản lý ký túc xá</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar-right-content-main-tabs">
            <div class="sidebar-right-content-titles">
                <ul class="sidebar-right-content-titles-list">
                    <li class="sidebar-right-content-titles-items">Hóa đơn</li>
                    <li class="sidebar-right-content-titles-items">Xử lý vi phạm</li>
                    <li class="sidebar-right-content-titles-items active">Thư báo cáo</li>
                </ul>
            </div>
            <div class="sidebar-right-content-tabs">
                <div class="sidebar-right-content-tab">
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-memo"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Hóa đơn tiền rác
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>

                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-memo"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Hóa đơn tiền rác
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-memo"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Hóa đơn tiền rác
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-memo"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Hóa đơn tiền rác
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-memo"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Hóa đơn tiền rác
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-memo"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Hóa đơn tiền rác
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-memo"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Hóa đơn tiền rác
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-right-content-tab">
                    <div class="sidebar-right-content-violent">
                        <div class="sidebar-right-content-violent-left">
                            <i class="fa-light fa-circle-minus"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Huỳnh Đăng Khoa
                                </div>
                                <div class="bill-left-info-content">
                                    Từ : <span>phòng 203</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-violent-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-violent">
                        <div class="sidebar-right-content-violent-left">
                            <i class="fa-light fa-circle-minus"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Huỳnh Đăng Khoa
                                </div>
                                <div class="bill-left-info-content">
                                    Từ : <span>phòng 203</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-violent-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-violent">
                        <div class="sidebar-right-content-violent-left">
                            <i class="fa-light fa-circle-minus"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Huỳnh Đăng Khoa
                                </div>
                                <div class="bill-left-info-content">
                                    Từ : <span>phòng 203</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-violent-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-violent">
                        <div class="sidebar-right-content-violent-left">
                            <i class="fa-light fa-circle-minus"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Huỳnh Đăng Khoa
                                </div>
                                <div class="bill-left-info-content">
                                    Từ : <span>phòng 203</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-violent-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-violent">
                        <div class="sidebar-right-content-violent-left">
                            <i class="fa-light fa-circle-minus"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Huỳnh Đăng Khoa
                                </div>
                                <div class="bill-left-info-content">
                                    Từ : <span>phòng 203</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-violent-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-violent">
                        <div class="sidebar-right-content-violent-left">
                            <i class="fa-light fa-circle-minus"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Huỳnh Đăng Khoa
                                </div>
                                <div class="bill-left-info-content">
                                    Từ : <span>phòng 203</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-violent-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-violent">
                        <div class="sidebar-right-content-violent-left">
                            <i class="fa-light fa-circle-minus"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Huỳnh Đăng Khoa
                                </div>
                                <div class="bill-left-info-content">
                                    Từ : <span>phòng 203</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-violent-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-violent">
                        <div class="sidebar-right-content-violent-left">
                            <i class="fa-light fa-circle-minus"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Huỳnh Đăng Khoa
                                </div>
                                <div class="bill-left-info-content">
                                    Từ : <span>phòng 203</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-violent-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-right-content-tab active">
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-bullhorn"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Báo cáo hỏng đồ
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-bullhorn"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Báo cáo hỏng đồ
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-bullhorn"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Báo cáo hỏng đồ
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-bullhorn"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Báo cáo hỏng đồ
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-bullhorn"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Báo cáo hỏng đồ
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-right-content-bill">
                        <div class="sidebar-right-content-bill-left">
                            <i class="fa-light fa-bullhorn"></i>
                            <div class="sidebar-right-content-bill-left-info">
                                <div class="bill-left-info-name">
                                    Báo cáo hỏng đồ
                                </div>
                                <div class="bill-left-info-des">
                                    Từ : <span>phòng 304</span>
                                </div>
                                <div class="bill-left-info-des">
                                    Day: <span>10 / 04 / 2023</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-right-content-bill-right">
                            <a href="#" class="sidebar-right-content-bill-right-detail">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sidebar-right-content-quick-assets">
            <h2 class="sidebar-right-content-quick-assets-name">Truy cập nhanh</h2>
            <div class="quick-assets-content">
                <div class="quick-assets-content-item">
                    <img src="https://img.icons8.com/external-phatplus-lineal-color-phatplus/256/external-user-essential-phatplus-lineal-color-phatplus.png" class="quick-assets-content-item-icon">
                    </img>
                    <div class="quick-assets-content-item-info">
                        Danh sách sinh viên
                    </div>
                </div>
                <div class="quick-assets-content-item">
                    <img src="https://img.icons8.com/ultraviolet/256/room.png" class="quick-assets-content-item-icon">

                    </img>
                    <div class="quick-assets-content-item-info">
                        Danh sách phòng
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="sidebar-right-content-event-title">Sự kiện, việc làm</h2>
        <!-- chỉ nên để 2 sự kiện, hoặc lịch làm ở màn hình chính admin  -->
        <div class="sidebar-right-content-event-list">
            <div class="sidebar-right-content-event-item">
                <div class="sidebar-right-content-event-item-bg-img" style="background-image: url(https://plus.unsplash.com/premium_photo-1673258926559-66730e7b8943?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);">
                </div>
                <div class="sidebar-right-content-event-item-content">
                    <div class="event-item-content-left">
                        <h2 class="event-item-content-left-heading">Hội thao hufi</h2>
                    </div>
                    <div class="event-item-content-right">
                        <a href="#" class="event-item-content-right-link">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class="event-item-content-setting">
                        <i class="fa-regular fa-ellipsis"></i>
                    </div>
                </div>
            </div>
            <div class="sidebar-right-content-event-item">
                <div class="sidebar-right-content-event-item-bg-img" style="background-image: url(https://plus.unsplash.com/premium_photo-1673258926559-66730e7b8943?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);">
                </div>
                <div class="sidebar-right-content-event-item-content">
                    <div class="event-item-content-left">
                        <h2 class="event-item-content-left-heading">Hội thao hufi</h2>
                    </div>
                    <div class="event-item-content-right">
                        <a href="#" class="event-item-content-right-link">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>