 
<link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="~/assets/css/toastMessage.css" />

<ul class="notifications"> vào </ul>
<div class="buttons">
    <button class="btn" id="success">Success</button>
    <button class="btn" id="error">error</button>
    <button class="btn" id="warning">warning</button>
    <button class="btn" id="info">info</button>
</div>
<script type="text/javascript" src="~/assets/js/toastMessage.js"></script>