@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper">

    <div class="about-block">
        <div class="image-about-block">
            <table style="width:100%">
                <tr>
                    <td>
                        <image class="about-img-one" src="~/assets/img/ktx_3.jpeg"/>
                    </td>
                    <td>
                        <image class="about-img-tow" src="~/assets/img/ktx_2.jpeg" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <image class="about-img-there" src="~/assets/img/ktx_2.jpeg" />
                    </td>
                    <td>
                        <image class="about-img-four" src="~/assets/img/ktx_3.jpeg" />
                    </td>
                </tr>
            </table>  
        </div>
        <div class="text-about-block">
            <h2>Ky Tuc Xa HUFI --------</h2>
            <h1>
                Ký túc xá HUFI tại TP.HCM là một trong những nơi lưu trú phổ biến cho sinh viên đến từ xa. Với các tiện ích tiện nghi như phòng ở đầy đủ tiện nghi, phòng học, phòng sinh hoạt chung, phòng ăn và khu vực giải trí, ký túc xá HUFI đáp ứng được tất cả các nhu cầu của sinh viên để có một khu trú ngụ an toàn và thuận tiện trong quá trình học tập. Ngoài ra, ký túc xá còn cung cấp các dịch vụ hỗ trợ như giặt ủi và dọn dẹp phòng. Với vị trí đắc địa tại trung tâm TP.HCM, ký túc xá HUFI là một lựa chọn lý tưởng cho sinh viên muốn có một nơi an cư tiện lợi và giúp họ tập trung vào học tập một cách hiệu quả.
            </h1>
            <div class="statistics-about-block">
                <div class="statistics-one-about-block">
                    <span class="title-bout-block">15</span>
                    <div class="desscription-bout-block">
                        <span class="head-text-desscription-bout-block">Năm </span>
                        <span class="text-desscription-bout-block">thành lập</span>
                    </div>
                <div>
                <div class="statistics-one-about-block">
                    <span class="title-bout-block">5000</span>
                    <div class="desscription-bout-block">
                        <span class="head-text-desscription-bout-block">Số lượng</span>
                        <span class="text-desscription-bout-block">sinh viên</span>
                    </div>
                <div>
            <div>
        </div>
    <div>
</div>
