@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/assets/css/about.css">

<div class="about-wrapper row g-5 align-items-center">
    <div class="col-lg-6">
        <div class="row g-3">
            <div class="col-6 text-start">
                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="~/assets/img/ktx_2.jpeg" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
            </div>
            <div class="col-6 text-start">
                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="~/assets/img/ktx_2.jpeg" style="margin-top: 25%; visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
            </div>
            <div class="col-6 text-end">
                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="~/assets/img/ktx_2.jpeg" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
            </div>
            <div class="col-6 text-end">
                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="~/assets/img/ktx_2.jpeg" style="visibility: visible; animation-delay: 0.7s; animation-name: zoomIn;">
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Giới Thiệu Về Ký Túc Xá HUFI </h5>
        <h1 class="mb-4"> Chào mừng đến<i class="fa-sharp fa-regular fa-hotel text-primary me-2"></i> ký túc xá HUFI</h1>
        <p class="mb-4">Ký túc xá HUFI tại TP.HCM là một trong những nơi lưu trú phổ biến cho sinh viên đến từ xa. Với các tiện ích tiện nghi như phòng ở đầy đủ tiện nghi, phòng học, phòng sinh hoạt chung, phòng ăn và khu vực giải trí, ký túc xá HUFI đáp ứng được tất cả các nhu cầu của sinh viên để có một khu trú ngụ an toàn và thuận tiện trong quá trình học tập. </p>
        <p class="mb-4">Ngoài ra, ký túc xá còn cung cấp các dịch vụ hỗ trợ như giặt ủi và dọn dẹp phòng. Với vị trí đắc địa tại trung tâm TP.HCM, ký túc xá HUFI là một lựa chọn lý tưởng cho sinh viên muốn có một nơi an cư tiện lợi và giúp họ tập trung vào học tập một cách hiệu quả.</p>
        <div class="row g-4 mb-4">
            <div class="col-sm-6">
                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                    <div class="ps-4">
                        <p class="mb-0">Years of</p>
                        <h6 class="text-uppercase mb-0">Building</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                    <div class="ps-4">
                        <p class="mb-0">Popular</p>
                        <h6 class="text-uppercase mb-0">Master Manager</h6>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
    </div>
</div>
<div class="about-wrapper container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Đội ngũ</h5>
            <h1 class="mb-5">Quản Lý Ký Túc Xá</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="~/assets/img/elon.jpeg" alt="">
                    </div>
                    <h5 class="mb-0">Full Name</h5>
                    <small>Designation</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="~/assets/img/elon.jpeg" alt="">
                    </div>
                    <h5 class="mb-0">Full Name</h5>
                    <small>Designation</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="~/assets/img/elon.jpeg" alt="">
                    </div>
                    <h5 class="mb-0">Full Name</h5>
                    <small>Designation</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="~/assets/img/elon.jpeg" alt="">
                    </div>
                    <h5 class="mb-0">Full Name</h5>
                    <small>Designation</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="wrapper">

    <div class="about-block">
        <div class="image-about-block">
            <table class="about-tbl" style="width:100%">
                <tr class="about-tbr-one">
                    <td class="about-img">
                        <image class="about-img-one" src="~/assets/img/ktx_3.jpeg" />
                    </td>
                    <td class="about-img">
                        <image class="about-img-tow" src="~/assets/img/ktx_3.jpeg" />
                    </td>
                </tr>
                <tr class="about-tbr-tow">
                    <td class="about-img">
                        <image class="about-img-there" src="~/assets/img/ktx_3.jpeg" />
                    </td>
                    <td class="about-img">
                        <image class="about-img-four" src="~/assets/img/ktx_3.jpeg" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-about-block">
            <h2 class="">Ky Tuc Xa HUFI --------</h2>
            <h1>
                Ký túc xá HUFI tại TP.HCM là một trong những nơi lưu trú phổ biến cho sinh viên đến từ xa. Với các tiện ích tiện nghi như phòng ở đầy đủ tiện nghi, phòng học, phòng sinh hoạt chung, phòng ăn và khu vực giải trí, ký túc xá HUFI đáp ứng được tất cả các nhu cầu của sinh viên để có một khu trú ngụ an toàn và thuận tiện trong quá trình học tập. Ngoài ra, ký túc xá còn cung cấp các dịch vụ hỗ trợ như giặt ủi và dọn dẹp phòng. Với vị trí đắc địa tại trung tâm TP.HCM, ký túc xá HUFI là một lựa chọn lý tưởng cho sinh viên muốn có một nơi an cư tiện lợi và giúp họ tập trung vào học tập một cách hiệu quả.
            </h1>
            <div class="statistics-about-block">
                <div class="statistics-one-about-block">
                    <span class="title-bout-block">15</span>
                    <div class="desscription-bout-block">
                        <span class="head-text-desscription-bout-block">Năm </span>
                        <span class="text-desscription-bout-block">thành lập</span>
                    </div>
                    <div>
                        <div class="statistics-one-about-block">
                            <span class="title-bout-block">5000</span>
                            <div class="desscription-bout-block">
                                <span class="head-text-desscription-bout-block">Số lượng</span>
                                <span class="text-desscription-bout-block">sinh viên</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="about-title-list">
        <span class="top-about-title-list">Thành viên ký túc xá</span>
        <span class="bottom-about-title-list">
            Quản Lý Ký Túc xá Của Chúng Tôi
        </span>
    </div>
    <ul class="about-list-card">
        <li class="about-item-cart">
            <image class="about-item-cart-image"/>
            <div class="about-item-cart-description"></div>
        </li>
    </ul>
</div>*@