.detail-bill-heading {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.detail-bill-heading-title, .detail-bill-heading-name {
    color: var(--font-color-primary);
    font-size: 2rem;
}

.detail-bill-heading-title {
    font-weight: 500;
}

.detail-bill-heading-name {
    font-weight: bold;
}
.bg-white-content {
    background-color: var(--bg-white);
    border-radius: 5px;
    padding: 10px;
}
.form-add-bill {
    position: fixed;
    width: calc(100vw - var(--sidebar-left-width) - var(--sidebar-right-width));
    left: var(--sidebar-left-width);
    padding: 20px 40px;
    background-color: var(--bg-white);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .form-add-bill .open_btn {
        background-color: var(--bg-color-primary);
        font-size: 2.2rem;
    }

.btn__go-home {
    background-color: transparent;
    font-size: 2.2rem;
    color: var(--font-color-primary);
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid var(--font-color-primary);
}
