.sidebar-right-list-filter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar-right-list-room-all {
    margin-top: 10px;
}

.sidebar-right-list-room-item {
    background-color: var(--bg-white);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 170px;
    margin-bottom: 15px;
}

.sidebar-right-list-room-item-left {
    flex: 1;
}

.list-room-item-left-status {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    color: var(--font-color-primary);
}

    .list-room-item-left-status .dot-status {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 10px;
    }

.list-room-item-left-name {
    font-size: 2.2rem;
    color: var(--font-color-primary);
    font-weight: bold;
    padding: 10px 0;
}

.list-room-item-left-type {
    font-size: 1.7rem;
}

    .list-room-item-left-type h2 {
        color: var(--font-color-gray);
    }

    .list-room-item-left-type p {
        color: var(--font-color-primary);
        font-weight: bold;
    }

.list-room-item-left-number_people {
    font-size: 1.7rem;
    padding: 10px 0;
    color: var(--font-color-gray);
}

    .list-room-item-left-number_people i {
        color: var(--font-color-gray);
    }

    .list-room-item-left-number_people span, .list-room-item-left-number_people .people_max {
        color: var(--font-color-primary);
        font-weight: bold;
    }

.sidebar-right-list-room-item-right {
    flex: 1;
    background-color: var(--bg-color-primary-blur);
    height: 100%;
    border-radius: 5px;
    padding: 10px;
}

.list-room-item-right-floor {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    font-size: 1.6rem;
    font-weight: bold;
}

    .list-room-item-right-floor span {
        color: var(--font-color-primary);
    }

    .list-room-item-right-floor i {
        color: var(--font-color-primary);
        font-size: 1.6rem;
    }

.list-room-item-right-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

    .list-room-item-right-img img {
        height: 60px;
        width: 60px;
    }

.list-room-item-right-option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

    .list-room-item-right-option a {
        display: block;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 1.5rem;
        font-weight: bold;
    }

.list-room-item-right-detail {
    border: 1px solid var(--font-color-primary);
    background-color: var(--bg-color-primary);
    color: white;
}

.list-room-item-right-edit {
    border: 1px solid var(--font-color-primary);
    color: var(--font-color-primary);
    transition: all linear 0.2s;
}

    .list-room-item-right-edit:hover {
        background-color: var(--bg-color-primary);
        color: white;
    }

.sidebar-right-list-filter-list {
    display: inline-flex;
    gap: 15px;
    margin-top: 10px;
    background-color: var(--bg-color-primary);
    border-radius: 5px;
    padding: 5px;
}

.sidebar-right-list-filter-item-link {
    font-size: 1.7rem;
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px 10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

    .sidebar-right-list-filter-item-link.active {
        background-color: var(--bg-white);
        color: var(--font-color-primary);
    }

.sidebar-right-list-filter-sort {
    margin-top: 10px;
}

    .sidebar-right-list-filter-sort select {
        font-size: 1.7rem;
        border: none;
        height: 100%;
        padding: 10px;
        color: var(--font-color-primary);
    }
