.filter-title {
    color: var(--font-color-primary);
    font-size: 2rem;
    font-weight: bold;
}

.filter-select {
    padding: 8px 10px;
    boder: 1px solid var(--font-color-primary);
    color: var(--font-color-primary);
    border-radius: 5px;
    font-size: 1.8rem;
}

.filter-list {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    background-color:var(--bg-white);
    padding:10px;
    border-radius:5px;
}
.bill-heading-title{
    color:var(--font-color-primary);
    font-size:2.2rem;
    text-align:center;
    margin:10px 0;
    font-weight:bold;
}
.bill-form {
    background-color: var(--bg-white);
    padding: 10px;
}
.profile--form__text-field input{
    pointer-events:all;
}
.thanhtien ,.thanhtien #thanhtien{
    color:var(--font-color-primary);
    font-size:2rem;
}
.form-add-bill {
    position: fixed;
    width: calc(100vw - var(--sidebar-left-width) - var(--sidebar-right-width));
    left: var(--sidebar-left-width);
    padding:20px 40px;
    background-color:var(--bg-white);
    bottom:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.form-add-bill .open_btn{
    background-color:var(--bg-color-primary);
    font-size:2.2rem;
}
.tenDV,.gia{
    color:var(--font-color-primary);

}
.loi{
    color:orangered;
}