/*sidebar left*/
.sidebar-left {
    width: var(--sidebar-left-width);
    height: 100vh;
    position: fixed;
}

.sidebar-left-logo {
    transition: all linear 0.3s;
    height: 60px;
    padding: 0 25px;
    background-color: var(--bg-color-logo);
    margin: 10px 0;
    margin-left: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .sidebar-left-logo img {
        width: 100%;
    }

.sidebar-left-navbar {
    transition: all linear 0.3s;
    background-color: var(--bg-color-primary);
    width: 100%;
    height: calc(100% - 70px);
    border-top-right-radius: 40px;
    padding: 50px 0 20px 0;
}

.sidebar-left-navbar-nav-item.active {
    position: relative;
}

    .sidebar-left-navbar-nav-item.active::before, .sidebar-left-navbar-nav-item.active::after {
        content: '';
        transition: all linear 0.3s;
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: var(--bg-color-primary);
        z-index: 20;
        border-radius: 50%;
    }

    .sidebar-left-navbar-nav-item.active::before {
        right: 0;
        top: -20px;
    }

    .sidebar-left-navbar-nav-item.active::after {
        right: 0;
        bottom: -20px;
    }

    .sidebar-left-navbar-nav-item.active .sidebar-left-navbar-nav-item-link {
        position: relative;
        background-color: var(--bg-color-secondary);
        color: var(--font-color-primary);
        z-index: 10;
    }

        .sidebar-left-navbar-nav-item.active .sidebar-left-navbar-nav-item-link i {
            color: var(--font-color-primary);
        }

        .sidebar-left-navbar-nav-item.active .sidebar-left-navbar-nav-item-link::before, .sidebar-left-navbar-nav-item.active .sidebar-left-navbar-nav-item-link::after {
            content: '';
            position: absolute;
            transition: all linear 0.3s;
            width: 10px;
            height: 10px;
            background-color: var(--bg-color-secondary);
            z-index: 20;
        }

        .sidebar-left-navbar-nav-item.active .sidebar-left-navbar-nav-item-link::before {
            top: -10px;
            right: 0;
        }

        .sidebar-left-navbar-nav-item.active .sidebar-left-navbar-nav-item-link::after {
            bottom: -10px;
            right: 0;
        }

.sidebar-left-navbar-nav-item-link {
    position: relative;
    font-size: 1.8rem;
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px;
    padding-left: 15px;
    color: #dadada;
    font-weight: 500;
    transition: all linear 0.3s;
}

    .sidebar-left-navbar-nav-item-link:hover {
        color: white;
    }

        .sidebar-left-navbar-nav-item-link:hover i {
            color: white;
        }

    .sidebar-left-navbar-nav-item-link i {
        color: white;
        font-size: 1.5rem;
        padding-right: 10px;
        color: #d9d9d9;
        transition: all linear 0.3s;
    }

/*sidebar right*/

.sidebar-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sidebar-right-info {
    position: fixed;
    right: 0;
    width: var(--sidebar-right-width);
    height: 100vh;
    background-color: var(--bg-white);
    overflow-y: scroll;
}

    .sidebar-right-info::-webkit-scrollbar {
        display: none;
    }

.sidebar-right-info-intro {
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
}

.sidebar-right-info-intro-setting {
    display: flex;
    gap: 15px;
}

    .sidebar-right-info-intro-setting div {
        width: 45px;
        height: 45px;
        border-radius: 10px;
        background-color: var(--bg-color-primary-blur);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.9rem;
    }

        .sidebar-right-info-intro-setting div i {
            color: var(--font-color-primary);
        }

    .sidebar-right-info-intro-setting .notification {
        position: relative;
    }

        .sidebar-right-info-intro-setting .notification .dot {
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: red;
            top: -2px;
            right: -2px;
            display: block;
            border-radius: 50%;
        }

    .sidebar-right-info-intro-setting .shutdown {
        display: none;
        width: 45px;
        height: 45px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        font-size: 1.9rem;
        background-color: #ffc6c6;
    }

        .sidebar-right-info-intro-setting .shutdown i {
            color: red;
        }

.sidebar-right-info-intro-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

    .sidebar-right-info-intro-user .image {
        width: 45px;
        height: 45px;
        border: 1px solid #d8d8d8;
        background-color: white;
        border-radius: 10px;
    }

        .sidebar-right-info-intro-user .image img {
            height: 100%;
            width: 100%;
        }

    .sidebar-right-info-intro-user .name {
        text-align: right;
        font-size: 1.5rem;
        font-weight: 600;
        color: #999;
        font-style: italic;
    }

        .sidebar-right-info-intro-user .name p {
            color: var(--font-color-primary);
            font-size: 1.8rem;
            font-style: normal;
        }

.sidebar-right-info-money {
    margin: 15px;
    background-color: var(--bg-color-secondary);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 0;
}

.sidebar-right-info-money-title {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-right-info-money-title-name {
    color: var(--font-color-primary);
}

.sidebar-right-info-money-types {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

.sidebar-right-info-money-types-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

    .sidebar-right-info-money-types-item .items-type {
        position: relative;
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }

        .sidebar-right-info-money-types-item .items-type i {
            font-size: 5rem;
            color: #ff5151;
        }

        .sidebar-right-info-money-types-item .items-type .dot {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: #ff5151;
            bottom: 10px;
            right: 15px;
            display: block;
            border-radius: 50%;
        }

    .sidebar-right-info-money-types-item h2 {
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--font-color-primary);
    }

.sidebar-right-info-dayOfWeek {
    padding: 10px 15px 20px 15px;
    border-bottom: 1px solid #dcdcdc;
}

.sidebar-right-info-dayOfWeek-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

    .sidebar-right-info-dayOfWeek-title h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--font-color-primary);
    }

    .sidebar-right-info-dayOfWeek-title .month {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--font-color-primary);
        background-color: var(--bg-color-primary-blur);
        padding: 10px;
        border-radius: 10px;
    }

        .sidebar-right-info-dayOfWeek-title .month span, .sidebar-right-info-dayOfWeek-title .month i {
            color: var(--font-color-primary);
        }

.sidebar-right-info-dayOfWeek-content .week {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
}

    .sidebar-right-info-dayOfWeek-content .week .dayOfWeek {
        font-size: 1.6rem;
        text-align: center;
        font-weight: 400;
        color: #999;
    }

        .sidebar-right-info-dayOfWeek-content .week .dayOfWeek.selected {
            background-color: var(--bg-color-day-selected);
            color: white;
            padding: 5px 8px;
            border-radius: 10px;
            font-weight: 600;
        }

            .sidebar-right-info-dayOfWeek-content .week .dayOfWeek.selected .day {
                color: white;
                font-weight: 400;
            }

        .sidebar-right-info-dayOfWeek-content .week .dayOfWeek .day {
            padding-top: 10px;
            display: block;
            font-weight: 600;
            color: var(--font-color-primary);
        }

.sidebar-right-info-topic {
    padding: 10px 15px;
    background-color: var(--bg-color-secondary);
    margin: 15px;
    margin-bottom: 0;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.sidebar-right-info-topic-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--font-color-primary);
}

.sidebar-right-info-topic .sidebar-right-info-topic-wraper {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-color-gray);
    padding: 5px 10px;
    border-radius: 5px;
}

    .sidebar-right-info-topic .sidebar-right-info-topic-wraper .icon-light {
        font-size: 1.8rem;
    }

        .sidebar-right-info-topic .sidebar-right-info-topic-wraper .icon-light i {
            color: var(--topic-color-light);
        }

    .sidebar-right-info-topic .sidebar-right-info-topic-wraper .switch-light-dark-change {
        appearance: none;
        width: 70px;
        height: 9px;
        border-radius: 34px;
        border: 2px solid var(--font-color-primary);
        position: relative;
        cursor: pointer;
        transition: all linear 0.3s;
    }

        .sidebar-right-info-topic .sidebar-right-info-topic-wraper .switch-light-dark-change::before {
            content: '';
            position: absolute;
            height: 20px;
            width: 20px;
            background-color: var(--font-color-primary);
            border-radius: 50%;
            top: -7px;
            left: 1px;
            transition: all ease-out 0.3s;
        }

        .sidebar-right-info-topic .sidebar-right-info-topic-wraper .switch-light-dark-change:checked::before {
            left: 45px;
        }

    .sidebar-right-info-topic .sidebar-right-info-topic-wraper .icon-dark {
        font-size: 1.8rem;
    }

        .sidebar-right-info-topic .sidebar-right-info-topic-wraper .icon-dark i {
            color: var(--topic-color-dark);
        }

.sidebar-right-info-coppy-right {
    padding: 20px 15px 0 15px;
}

    .sidebar-right-info-coppy-right h2 {
        font-size: 1.6rem;
        color: #999;
        text-align: center;
    }

        .sidebar-right-info-coppy-right h2 a {
            color: var(--font-color-primary);
            font-weight: 600;
        }

/*center header*/

.sidebar-right-content {
    padding: 20px 15px;
    margin-left: var(--sidebar-left-width);
    margin-right: var(--sidebar-right-width);
    width: 100%;
    flex: 1;
}

.sidebar-right-content-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    margin-bottom: 90px;
    right: calc(var(--sidebar-right-width));
    left: calc(var(--sidebar-left-width));
    top: 0;
    padding: 20px 15px 10px 20px;
    background-color: var(--bg-color-secondary);
    z-index: 10;
    transition: all linear 0.3s;
}

    .sidebar-right-content-search .search {
        transition: all linear 0.3s;
        background-color: var(--bg-white);
        font-size: 1.8rem;
        padding: 10px 20px;
        border-radius: 8px;
        display: flex;
    }

        .sidebar-right-content-search .search i {
            color: var(--font-color-primary);
        }

        .sidebar-right-content-search .search .search-input {
            transition: all linear 0.3s;
            border: none;
            outline: none;
            padding-left: 20px;
            color: var(--font-color-primary);
            background-color: var(--bg-white);
        }

    .sidebar-right-content-search .today {
        transition: all linear 0.3s;
        background-color: var(--bg-white);
        display: flex;
        align-items: center;
        padding: 10px 20px;
        border-radius: 8px;
        gap: 10px;
    }

        .sidebar-right-content-search .today .calender-icon {
            display: block;
        }

            .sidebar-right-content-search .today .calender-icon i {
                font-size: 1.8rem;
                color: var(--font-color-primary);
            }

        .sidebar-right-content-search .today .today-content {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.8rem;
            color: var(--font-color-primary);
        }

            .sidebar-right-content-search .today .today-content span {
                color: var(--font-color-primary);
                font-weight: 600;
            }

            .sidebar-right-content-search .today .today-content .day-today {
                color: var(--font-color-primary);
                font-weight: 600;
            }

            .sidebar-right-content-search .today .today-content .time-today {
                color: var(--font-color-primary);
            }

.sidebar-right-content-main {
    width: calc(100vw - var(--sidebar-left-width) - var(--sidebar-right-width) - 26px);
    margin-top: 40px;
    padding-bottom: 10px;
}

.room-info {
    background-color: var(--bg-white);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 100%;
}

    .room-info .room-info-content-none-room {
        width: 150px;
        height: 150px;
        border: 2px solid var(--font-color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
    }

        .room-info .room-info-content-none-room i {
            font-size: 5rem;
            color: var(--font-color-primary);
        }

        .room-info .room-info-content-none-room p {
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--font-color-primary);
        }

    .room-info .info-room-list {
        padding: 20px;
    }

        .room-info .info-room-list .info-room-item {
            font-size: 1.9rem;
            padding-bottom: 10px;
            font-weight: 600;
            color: var(--font-color-primary);
        }

            .room-info .info-room-list .info-room-item .info-room-item-title {
                color: var(--font-color-primary);
            }

            .room-info .info-room-list .info-room-item .info-room-item-name {
                font-weight: 500;
                color: var(--font-color-primary);
            }

.service-info {
    background-color: var(--bg-white);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: relative;
}

.service-info-name {
    font-size: 1.8rem;
    color: var(--font-color-primary);
    font-weight: 600;
    margin-bottom: 30px;
}

    .service-info-name i {
        color: var(--font-color-primary);
    }

.service-info .service-signin-contact {
    width: 100%;
}

.service-info .service-info-link {
    position: absolute;
    display: inline-block;
    color: var(--font-color-primary);
    bottom: 10px;
    right: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}

    .service-info .service-info-link i {
        color: var(--font-color-primary);
    }

.service-item {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

    .service-item i {
        font-size: 8rem;
        color: var(--font-color-primary);
    }

.service-item-name {
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--font-color-primary);
}

.main-contract {
    margin-top: 50px;
}

    .main-contract .main-contract-item {
        width: 100%;
        border-radius: 10px;
        background-color: var(--bg-white);
        border: 1px solid var(--font-color-primary);
        padding: 10px 15px;
        position: relative;
    }

    .main-contract .main-contract-item-icon {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color-primary-blur);
        border: 1px solid var(--font-color-primary);
        top: -20px;
        left: 30px;
    }

        .main-contract .main-contract-item-icon i {
            font-size: 2.2rem;
            color: var(--font-color-primary);
        }

    .main-contract .main-contract-item-title {
        color: var(--font-color-primary);
        font-size: 2.2rem;
        padding-bottom: 10px;
        padding-top: 18px;
    }

    .main-contract .main-contract-item-des {
        color: #999;
        font-size: 1.7rem;
    }

    .main-contract .main-contract-item-link {
        color: var(--font-color-primary);
        font-weight: bold;
        display: block;
        text-align: right;
        padding: 8px 0;
        font-size: 1.6rem;
    }

        .main-contract .main-contract-item-link i {
            color: var(--font-color-primary);
        }

.main-info-users {
    background-color: var(--bg-white);
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    height: 100%;
}

.main-info-users-title {
    color: var(--font-color-primary);
    font-size: 2rem;
    font-weight: bold;
}

    .main-info-users-title .name-room {
        color: var(--font-color-primary);
        font-style: italic;
    }

.main-info-users-table thead td, .main-info-users-table tfoot td {
    padding-right: 10px;
    padding-left: 10px;
    color: var(--font-color-primary);
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
}

.main-info-users-table tbody {
    height: 300px;
    overflow-y: hi;
}

    .main-info-users-table tbody td {
        color: var(--font-color-primary);
        font-size: 1.7rem;
        font-weight: 600;
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: middle;
        text-align: center;
    }

    .main-info-users-table tbody tr:nth-child(odd) {
        background-color: var(--bg-color-primary-blur);
    }

    .main-info-users-table tbody tr:nth-child(even) {
        background-color: var(--white);
    }

.main-info-violate {
    margin-top: 15px;
    background-color: var(--white);
    padding: 10px 15px;
    border-radius: 10px;
}

.main-info-violate-box {
    display: flex;
    align-items: center;
}

.main-info-violate-box-icon {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #ffbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .main-info-violate-box-icon i {
        font-size: 2rem;
        color: red;
        background-color: white;
        border-radius: 50%;
    }

.main-info-violate-box-title {
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 10px;
    color: red;
}

.main-info-violate-quantity {
    text-align: center;
    font-size: 4rem;
    color: red;
    padding: 10px 0;
}

.main-info-violate-des {
    font-size: 1.8rem;
    color: red;
    text-align: center;
}

.main-info-warning {
    margin-top: 15px;
    background-color: var(--bg-white);
    padding: 10px 15px;
    border-radius: 10px;
}

.main-info-warning-box {
    display: flex;
    align-items: center;
}

.main-info-warning-box-icon {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--bg-color-primary-blur);
    display: flex;
    align-items: center;
    justify-content: center;
}

    .main-info-warning-box-icon i {
        font-size: 2rem;
        color: var(--font-color-primary);
        border-radius: 50%;
    }

.main-info-warning-box-title {
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 10px;
    color: var(--font-color-primary);
}

.main-info-warning-quantity {
    text-align: center;
    font-size: 4rem;
    color: var(--font-color-primary);
    padding: 10px 0;
}

.main-info-warning-des {
    font-size: 1.8rem;
    color: var(--font-color-primary);
    text-align: center;
}

.sidebar-right-content-search-tablet-bar {
    display: none;
}

.search-logo {
    display: none;
}

